:root {
    /*Height adjust*/
    --doc-height: 100%;

    /*Color*/
    --application-normal-background-color: #0050F8;

    /*Application variables*/
    --restaurants-list-detail-window-width: 100vw;
    --restaurants-list-detail-window-height: calc(var(--doc-height) * 0.7);
    --restaurants-list-detail-window-left: calc(50% - 50vw);
    --restaurants-list-detail-window-tab-pane-height: calc(var(--doc-height) * 0.55);

}

@media screen and (min-width: 480px) {
    :root {
        --restaurants-list-detail-window-width: 480px;
        --restaurants-list-detail-window-left: calc(50% - 240px);
    }
}