@import "base.css";

body {
    height: var(--doc-height);
    margin: 0;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

#app {
    margin: 0 auto;
    height: var(--doc-height);
}

/*Set user guidance mask style*/
.v-tour__target--highlighted {
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.87);
}

.custom-message-box {
    /*Custom class for external component*/
    --el-messagebox-title-color: #FFFFFF;
    --el-messagebox-content-color: #FFFFFF;
    --el-messagebox-font-size: 1.2em;

    background-color: var(--application-normal-background-color);
}