@import "base.css";

/**
    Global style
    @author Wei Tan
 */

body {
    height: var(--doc-height);
    margin: 0;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

#app {
    margin: 0 auto;
    height: var(--doc-height);
}

/*Set user guidance mask style*/
.v-tour__target--highlighted {
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.87);
}

.custom-message-box {
    /*Custom class for external component*/
    --el-messagebox-title-color: #FFFFFF;
    --el-messagebox-content-color: #FFFFFF;
    --el-messagebox-font-size: 1.2em;

    background-color: var(--application-normal-background-color);
}

.v-step__buttons {
    display: none;
}

.v-step__content {
    margin: 0 !important;
}

.right-bottom-button {
    color: #FFFFFF;

    position: absolute;
    bottom: 3%;
    right: 3%;
}

/*Customer select option for selection*/
.custom-select-option {
    --el-bg-color-overlay: var(--application-normal-background-color);
    --el-text-color-regular: #FFFFFF;
    --el-fill-color-light: #3c5b9d;
}